version: '3.8'

services:
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: travelsystem_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=123@123
    ports:
      - "1433:1433"
    volumes:
      - sqlvolume:/var/opt/mssql

volumes:
  sqlvolume:
